
<div class="logo">
	<img src="/img/jebediah-logo-happy.png" alt="The Astounding Jebediah" width="496" height="305" />
</div>

<div class="result">
	<p class="buildName"><%= @result[:phrase].join(' ') %></p>
	<p class="buildHash"><%= @result[:hash] %></p>
</div>

<div class="search">
	<form action="" method="GET">
		<input type="text" name="phrase" />
		<input type="submit" name="submit" value="Astound!" />
	</form>
</div>

<div class="blurb">
	<img src="/img/jebediah-copy-intro.png" alt="Sees! Knows! Flings!" width="850" height="256" />
</div>
