
<div class="logo">
	<img src="/img/jebediah-logo-happy.png" alt="The Astounding Jebediah" width="496" height="305" />
</div>

<div class="result">
	<p class="buildName"><%= @result[:phrase].join(' ') %></p>
	<p class="buildHash"><%= @result[:hash] %></p>
</div>

<div class="search">
	<form onsubmit="query();" action="javascript:void(0);">
		<input type="text" id="txtQuery" name="txtQuery" value="" />
	    <input type="button" onclick="query();" value="Astound!" id="searchBtn"/>
	</form>
</div>

<div class="blurb">
	<img src="/img/jebediah-copy-intro.png" alt="Sees! Knows! Flings!" width="850" height="256" />
</div>
